

.notes-container{
  height: 50vh;
  width: 100vw;
  margin-top: 10vh;
  color: aliceblue;
  white-space:nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.notes-container::-webkit-scrollbar{
  display: none;
}