
.heading {
    height: 20vh;
    width: 40vw;
    text-align: center;
    position: relative;
    margin: 30px auto;
}


.heading-img {
    height: 100%;
    position: absolute;
    top: -10px;
    left: -50px;
}

.tag-line {
    font-size: 1.1em;
    color: #b4b4b4;
    letter-spacing: 4px;
    font-weight: 800;
    text-align: center;
}

.btns-container {
    height: 20vh;
    width: 100vw;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.feature-cards-container {
    height: 35vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:500px) {
    .heading {
        width: 100vw;
        margin: 10px 0;
    }

    .heading-img {
        display: none;
    }

    .tag-line {
        font-size: 1em;
        letter-spacing: 3px;
    }

    .btns-container {
        height: 40vh;
        margin-top: 10px;
        flex-direction: column;
        gap: 30px;
    }

    .feature-cards-container {
        justify-content: space-around;
    }

}